html, body {
    margin: 0;
    margin-top: 0.5vh;
    font-family: "Avenir Next";

    background: beige;
}


.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    /* height: 10vh; */

    font-family: "Andale Mono";
}

#score-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  font-size: 1rem;
}

span {
  display: block;
  text-align: center;
  font-size: 1rem;
}

.score {
  margin: 2rem;
}


.who-starts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;


}

.choose-starter-container {
  margin-bottom: 2em;

  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  /* align-content: center; */

  height: auto;
  /* border: 1px solid red; */
}

h2 {
  display: block;
  font-weight: normal;

}

.choose-starter-button {
  font-size: 1em;

  align-self: center;

  cursor: pointer;

  margin: 10px;
  padding: 10px;
  width: 3em;
  height: 3rem;
  border-radius: 100%;

  color: burlywood;

  border: 2px solid burlywood;
  background: saddlebrown;
}

.choose-starter-button:hover {
  background: goldenrod;
  color: saddlebrown;
}

.grid-container {
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center;
    align-content: center; */

    
}

.grid {
    justify-self: center;
    align-self: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background: rgb(52, 25, 1);
    border: 2px solid black;
    padding: 10px;
  }
  .grid-block {
    background: beige;
    border: 1px solid rgb(70, 39, 11);
    height: 6rem;
    width: 6rem;

    padding: 0;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 7rem;
    text-align: center;
    line-height: 6rem;
  }

  .grid-block:hover {
    background-color: saddlebrown;
    cursor: pointer;
  }

  .reset-container {
    justify-self: center;
    align-self: center;
  }

  .reset-button {
    font-size: 0.7em;

    cursor: pointer;

    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;

    color: burlywood;

    border: 2px solid burlywood;
    background: saddlebrown;
  }

  .reset-button:hover {
    background: goldenrod;
    color: saddlebrown;
  }

.hide {
  display: none;
}

.winner {
  background-color: greenyellow;
}

.loser {
  background-color: brown;
}

@media only screen and (max-width: 500px) {
  #score-container, #score-container *  {
    padding: 0;
    font-size: 0.5rem;
  }
  body {
    transform: scale(0.8);
  }

}