html, body {
    margin: 0;
}


.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    height: 10vh;

    font-family: "Andale Mono";
    background: grey;
}

.who-starts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;


}

.choose-starter-container {
  margin-bottom: 2em;

  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  /* align-content: center; */

  height: auto;
  /* border: 1px solid red; */
}

h2 {
  display: block;
  font-family: "Avenir Next";
  font-weight: normal;

}

.choose-starter-button {
  font-family: "Avenir Next";
  font-size: 1em;

  align-self: center;

  margin: 10px;
  padding: 10px;
  width: 3em;
  height: 3rem;
  border-radius: 100%;

  color: burlywood;

  border: 2px solid burlywood;
  background: saddlebrown;
}

.choose-starter-button:hover {
  background: goldenrod;
}

.grid-container {
    margin-top: 15vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;

    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background: rgb(52, 25, 1);
    border: 2px solid black;
    padding: 10px;
  }
  .grid-block {
    background-color: beige;
    border: 1px solid rgb(70, 39, 11);
    height: 6rem;
    width: 6rem;

    padding: 0;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 7rem;
    text-align: center;
    line-height: 6rem;
  }

  .grid-block:hover {
    background-color: saddlebrown;
    cursor: pointer;
  }

.hide {
  display: none;
}

.winner {
  background-color: greenyellow;
}

.loser {
  background-color: brown;
}